<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <script
      src="/mixhtml.js"
      defer
    ></script>
  </head>
  <body>
    <h1>Sign up for free!</h1>
    <form id="frm">
      <input
        type="text"
        name="user_name"
        placeholder="Name"
      />
      <input
        type="text"
        name="user_email"
        placeholder="Email"
      />
      <input
        type="text"
        name="user_password"
        placeholder="Password"
      />
      <input
        type="submit"
        mix-data="#frm"
        mix-post="/users"
      />
    </form>
    <script>
      const mix_replace_url = "/"
    </script>
  </body>
</html>
