<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/app.css"
    />
    <script
      src="/mixhtml.js"
      defer
    ></script>
    <style>
            .mix-error {
              background-image: url(../art.billyraycyrus.gi.jpeg);
              background-size: 100% 100%;
      ;
            }

            .mix-hidden {
              display: none;

            }
    </style>
    <title>{{get('title', 'xxx')}}</title>
  </head>
  <body class="w-full flex flex-col gap-3 justify-between ">
    <nav class="flex justify-between px-12 items-center w-full h-14 bg-blue-500 text-neutral-100">
      <a
        href="/"
        class="bg-transparent border-white border-2 px-3 hover:bg-white hover:text-blue-500 transition-all duration-75"
        >Home</a
      >

      <button>X</button>
    </nav>
  </body>
</html>
